* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.main-header, main, footer {
	max-width: 70%;
	margin: 0 auto;
}

.main-header, .gold, .blue {
	margin-top: 2vh;
}
.main-header {
	background-color: violet;
	height: 10vh;
	margin-top: 2vh;
}

.gold {
	background-color: #e1d67a;
	height: 32vh;
}

.blue {
	background-color: dodgerblue;
	height: 45vh;
}

.opaque {
	background-color: #ffffffbb;
}

.blue>header {
	height: 6vh;
}

.container {
	height: 35vh;
	margin-top: 2vh;
	margin-bottom: 2vh;
}

.container::after { /* clearfix*/
	content: '';
	display: table;
	clear: both;
}

.content, .sidebar {
	height: 100%;
	float: right;
}

.sidebar{
	width: 20%;
}

.content {
	width: calc(60% - 2*1.5vh);
	margin: 0 1.5vh;
}

footer {
	background-color: rebeccapurple;
	height: 4vh;
	margin-top: 0.5vh;
}
