a{
	display: inline-block;
	position: absolute;
	top: 5px;
	left: 5px;
	color: black;
	text-decoration: none;
	font-size: 60px;
	height: 60px;
	width: 60px;
	line-height: 60px;
	text-align: center;
	background-color: gray;
	border-radius: 5px;
	vertical-align: top;
	opacity: .6;
}

a:hover {
	opacity: 1;
}